<div class="sidebar-brand d-none d-md-flex">
  <svg class="sidebar-brand-full" width="118" height="46" alt="CoreUI Logo">
    <image href="assets/favicon/logo.png" width="118" />
  </svg>
  <svg class="sidebar-brand-narrow" width="46" height="46" alt="CoreUI Logo">
    <use xlink:href="assets/brand/coreui.svg#signet"></use>
  </svg>
</div>
<ul class="sidebar-nav" data-coreui="navigation" data-simplebar>
  <li class="nav-item"><a class="nav-link" href="">
      <svg class="nav-icon">
        <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-home"></use>
      </svg> Trang chủ</a></li>
  <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
      <svg class="nav-icon">
        <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-address-book"></use>
      </svg> Quản trị kế hoạch</a>
    <ul class="nav-group-items">
      <li class="nav-item"><a class="nav-link" href="./quanly_nhucau_daotao.html"><span class="nav-icon"></span> Nhu cầu đào tạo</a></li>
      <li class="nav-item"><a class="nav-link" href="./training-plan-list.html"><span class="nav-icon"></span> Kế hoạch đào tạo</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="./chinh-sua-khoa-hoc.html">
      <svg class="nav-icon">
        <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-aperture"></use>
      </svg> Quản lý khóa học</a>
  </li>
  <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
      <svg class="nav-icon">
        <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-album"></use>
      </svg> Quản lý môn học</a>
    <ul class="nav-group-items">
      <li class="nav-item"><a class="nav-link" href=""><span class="nav-icon"></span> Bài giảng E-learning</a></li>
    </ul>
  </li>
  <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
      <svg class="nav-icon">
        <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-barcode"></use>
      </svg> Quản lý lớp học</a>
    <ul class="nav-group-items">
      <li class="nav-item"><a class="nav-link" href=""> Thiết bị/phòng học</a></li>
    </ul>
  </li>
  <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
      <svg class="nav-icon">
        <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-calendar-check"></use>
      </svg> Quản lý thông tin</a>
    <ul class="nav-group-items">
      <li class="nav-item"><a class="nav-link" href="./list_cadres.html"> Cán bộ</a></li>
      <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
          <svg class="nav-icon">
          </svg> Giảng viên</a>
        <ul class="nav-group-items">
          <li class="nav-item"><a class="nav-link" href="./danh-sach-giang-vien/teacher-list.html"> GV nội bộ</a></li>
          <li class="nav-item"><a class="nav-link" href="./update_external_teacher.html"> GV bên ngoài</a></li>
        </ul>
      </li>
      <li class="nav-item"><a class="nav-link" href="./danhsach_doitac.html"> Đối tác</a></li>
    </ul>
  </li>
  <li class="nav-item"><a class="nav-link" href="">
      <svg class="nav-icon">
        <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-center-focus"></use>
      </svg> Quản lý ký túc xá</a></li>
  <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
      <svg class="nav-icon">
        <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-chart"></use>
      </svg> Quản lý chi phí</a>
    <ul class="nav-group-items">
      <li class="nav-item"><a class="nav-link" href="#"><span class="nav-icon"></span> Danh mục thu chi</a></li>
      <li class="nav-item"><a class="nav-link" href="#"><span class="nav-icon"></span> Phân bố chi phí</a></li>
      <li class="nav-item"><a class="nav-link" href="#"><span class="nav-icon"></span> Bồi hoàn</a></li>
    </ul>
  </li>
  <li class="nav-item"><a class="nav-link" href="">
      <svg class="nav-icon">
        <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-columns"></use>
      </svg> Quản lý mẫu mail</a></li>
  <li class="nav-item"><a class="nav-link" href="">
      <svg class="nav-icon">
        <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-contrast"></use>
      </svg> Quản lý phối hợp công việc</a></li>
  <li class="nav-item"><a class="nav-link" href="">
      <svg class="nav-icon">
        <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-crop-rotate"></use>
      </svg> Báo cáo thống kê</a></li>
  <li class="nav-item"><a class="nav-link" href="">
      <svg class="nav-icon">
        <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-control"></use>
      </svg> Quản trị hệ thống</a></li>
  <li class="nav-item"><a class="nav-link" href="">
      <svg class="nav-icon">
        <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-user"></use>
      </svg> vantt@viettinbank.com</a></li>
</ul>
<button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button>